
body {
	background: #EEEEEE;
}

div {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

div#container {
	width: 800px;
	background: #F9F7ED;
}

div#head {
	background: #C79810;
	color: #36393D;
	border-bottom: 1px dotted;
}

div#notice {
	padding: 5px;
	margin: 5px;
	color: red;
	border: 1px dotted white;
}

div#content {
	margin: 10px;
	margin-left: 0px;
	padding: 5px;
	width: 700px;
	background: #36393D;
	color: #EEEEEE;
	border: 1px solid black;
}

div#footer {
	font-size: 80%;
	font-variant: small-caps;
}

#head h1 {
	margin-left: 10px;
	padding-top: 15px;
	font-family: "Gill Sans", sans-serif
}

#content h2 {
	color: #CDEB8B;
}

#content a:link, a:visited {
	color: #CDEB8B;
}

#content ul {
	list-style: none;
}
